- form_for @inquiry do |f|
  .item
    Title: 
    %br
    .input.title= f.text_field :title
  .item
    .questions
  .item
    .input.new_question= link_to 'Add question'
  .item
    .input= f.submit 'Save Questions'

  .hidden
    .question
      - f.fields_for :questions do |q|
        .item
          The Question
          .input= q.text_field :title
        .item
          Question Type
          .input
            = q.select :qtype, { :binary => 'Yes/No (plus followups)', :open => 'Open Question', :choice_single => 'Single Choice', :choice_multiple => 'Multiple Choice' }.invert, :include_blank => true
        .extras
          .choice.hidden
            = q.text_field :choices
            %br
            = link_to 'Add another choice', '#', { :class => 'add_choice' }
    

