- form_for @inquiry do |f|
  .item
    Title: 
    %br
    .input.title= f.text_field :title
  .item
    .questions
  .item
    .input.new_question= link_to 'Add question'
  .item
    .input= f.submit 'Save Questions'

  .hidden
    .question
      - f.fields_for :questions do |q|
        .item
          The Question
          .input= q.text_field :title
        .item
          Question Type
          .input
            = q.select :type, { :binary => 'Yes/No (plus followups)', :open => 'Open Question' }.invert, :include_blank => true
            .extras
              .binary.hidden
                %button.affirmative_follow Add Yes Follow-Up
                %button.negative_follow Add No Follow-Up

            

    

